# application compilation intermediate files

/TextEditor/*.VC.opendb
/TextEditor/.vs/*
/TextEditor/ipch
/TextEditor/packages
/TextEditor/TextEditor.VC.db
/TextEditor/TextEditorApp/bin
/TextEditor/TextEditorApp/obj
/TextEditor/TextEditorApp/*.user
/TextEditor/TextEditorDirectWrite/Win32
/TextEditor/TextEditorDirectWrite/x64
/TextEditor/TextEditorDirectWrite/*.user
/TextEditor/TextEditorLib/obj
/TextEditor/TextEditorLib/bin
/TextEditor/TextEditorLib/*.user

# local utility scripts, etc.

Sync.cmd
Diff.cmd

link.URL
