# application compilation intermediate files

/TextEditor/TextEditorApp/obj/*
/TextEditor/TextEditorDirectWrite/x64/*
/TextEditor/TextEditorDirectWrite/*.vcproj.*.user
/TextEditor/TextEditorLib/obj/*

# local utility scripts, etc.

Sync.cmd
Diff.cmd

link.URL
