# application compilation intermediate files

/TextEditor/.vs/*
/TextEditor/TextEditor.ncb
/TextEditor/TextEditor.suo
/TextEditor/TextEditorApp/bin/*/*.vshost.*
/TextEditor/TextEditorApp/obj/*
/TextEditor/TextEditorApp/*.user
/TextEditor/TextEditorDirectWrite/x64/*
/TextEditor/TextEditorDirectWrite/x64/*/*.metagen
/TextEditor/TextEditorDirectWrite/*.user
/TextEditor/TextEditorLib/obj/*
/TextEditor/TextEditorLib/*.user

# local utility scripts, etc.

Sync.cmd
Diff.cmd

link.URL
